

    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
        Expense Tracker
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 <a href="https://twitter.com/bringforthjoy">Emmanuel</a> | <a href="https://twitter.com/SaraEmbee">Sarah</a>.</strong> All rights reserved.
    </footer>

