

    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="../../public/dist/img/AdminLTELogo.png" alt="Expense Tracker Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Expense Tracker</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt text-danger"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/expense/expenses" class="nav-link">
              <i class="nav-icon fas fa-th text-success"></i>
              <p>
                Expenses
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/expense/employees" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Employees
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/expense/departments" class="nav-link">
              <i class="nav-icon fas fa-th text-success"></i>
              <p>
                Departments
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/expense/roles" class="nav-link">
              <i class="nav-icon fas fa-th text-warning"></i>
              <p>
                Roles
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/expense/categories" class="nav-link">
              <i class="nav-icon fas fa-th text-info"></i>
              <p>
                Categories
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/expense/types" class="nav-link">
              <i class="nav-icon fas fa-th text-primary"></i>
              <p>
                Types
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->