
<!DOCTYPE html>
<html>
<head>
    <%-include ('../partials/head')%>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Expense</b>Traker</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    
    <%-include ('../partials/content')%>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<%- include ('../partials/script') %>

</body>
</html>
