<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-error404-v4">
    	<div class="kt-error404-v4__content">
    		<div class="kt-error404-v4__title">Page Not Found</div>
    		<a href="/dashboard" class="kt-error404-v4__button btn btn-pill btn-glow btn-lg btn-widest">Return back</a>
    	</div>
    </div>	
</div>