<h3 class="kt-login-v2__desc">Or sign with social account</h3>
<div class="kt-login-v2__options">
	<a href="#" class="btn btn-facebook btn-pill">
		<i class="fab fa-facebook-f"></i>
		Facebook
	</a>
	<a href="#" class="btn btn-twitter btn-pill">
		<i class="fab fa-twitter"></i>
		Twitter
	</a>
	<a href="#" class="btn btn-google btn-pill">
		<i class="fab fa-google"></i>
		Google
	</a>
</div>