<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
	<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">All Expense Types</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="kt-section">
					<div class="kt-section__info">
						Add nearly any HTML within, even for linked list groups like the one below, with the help of flexbox utilities.
					</div>
					<div class="kt-section__content kt-section__content--border">
						<% types.forEach(function(type) { %>
							<div class="list-group">
								<a href="/type/<%= type.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1"><%= type.type_name %></h5>
										<small><%= moment(type.createdAt).fromNow() %></small>
									</div>
								</a>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div>
</div>